img{

width: 300px;
padding: 10px;
margin: 10px;
background-color: white;
}

body{
    
background-color:pink;
color:aliceblue;
font-size: 100% ;

}

a{
width: 10px;
height: 10px;
background-color: lightcyan;
border-radius: 5px;

}